* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

th, td {
    font-size: 18px;
    padding: 7px;
}

th {
    background: #001684;
    color: #fff;
    border-bottom: 2px solid #ffffff;
}

td {
    background: #83a8ff;
}

li {
    line-height: 45px;
    font-size: 30px;
}

a {
    font-family: inherit;
    font-size: inherit;
    color: #001684;
}

a:hover {
    text-decoration: underline wavy #83a8ff;
    color: #00115e;
}

input, button, select {
    font-size: 16px;
    padding: 5px;
    min-height: 28px;
    width: 250px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}